<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{% block title %}Contact Us{% endblock %}</title>
   </head>

<body>
<!-- Sidebar -->
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-joomla icon'></i>
        <div class="logo_name">Filefusion</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="/file-convertor">
         <i class='bx bxs-file-pdf' ></i>
         <span class="links_name">File Converter</span>
       </a>
       <span class="tooltip">File Converter</span>
     </li>
     <li>
       <a href="/todo">
         <i class='bx bx-note' ></i>
         <span class="links_name">To-Do List</span>
       </a>
       <span class="tooltip">To-Do List</span>
     </li>
     <li>
       <a href="/about-us">
         <i class='bx bx-user' ></i>
         <span class="links_name">About Us</span>
       </a>
       <span class="tooltip">About Us
       </span>
     </li>
     <li>
       <a href="/contact-us">
         <i class='bx bxs-contact' ></i>
         <span class="links_name">Contact Us</span>
       </a>

       <span class="tooltip">Contact Us</span>
     </li>
     <li>
       <a href="/privacy">
         <i class='bx bx-lock' ></i>
         <span class="links_name">Privacy Policy</span>
       </a>
       <span class="tooltip">Privacy Policy</span>
     </li>
     <li class="profile">

         <div class="profile-details">
           <div class="name_job">

             <span class="job">Logout</span>

             <div class="job">Hello User !!</div>

           </div>
         </div>
         <a href="/logout">
         <i class='bx bx-log-out' id="log_out" ></i>
         </a>
     </li>
    </ul>
  </div>

<!-- Working Area -->
  <section class="home-section">
      <div class="text">Contact Us</div>
      <section class="home-section2">
          <div class="container">
              <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">BIT Mesra, Malviya Nagar</div>
          <div class="text-two">Jaipur,Rajasthan</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 99999 88888</div>
          <div class="text-two">+91 11111 42424</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">filefusion@gmail.com</div>
          <div class="text-two">info.filefusion@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any query and suggestions. It's my pleasure to help you.</p>
      <form method="POST" >
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Comments">
        </div>
        <div class="input-box message-box">
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>

      </form>
    </div>
    </div>
  </div>
      </section>
  </section>
</form>







<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
