<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{% block title %}Privacy Policy{% endblock %}</title>
   </head>

<body>
<!-- Sidebar -->
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-joomla icon'></i>
        <div class="logo_name">Filefusion</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="/file-convertor">
         <i class='bx bxs-file-pdf' ></i>
         <span class="links_name">File Converter</span>
       </a>
       <span class="tooltip">File Converter</span>
     </li>
     <li>
       <a href="/todo">
         <i class='bx bx-note' ></i>
         <span class="links_name">To-Do List</span>
       </a>
       <span class="tooltip">To-Do List</span>
     </li>
     <li>
       <a href="/about-us">
         <i class='bx bx-user' ></i>
         <span class="links_name">About Us</span>
       </a>
       <span class="tooltip">About Us</span>
     </li>
     <li>
       <a href="/contact-us">
         <i class='bx bxs-contact' ></i>
         <span class="links_name">Contact Us</span>
       </a>

       <span class="tooltip">Contact Us</span>
     </li>
     <li>
       <a href="/privacy">
         <i class='bx bx-lock' ></i>
         <span class="links_name">Privacy Policy</span>
       </a>
       <span class="tooltip">Privacy Policy</span>
     </li>
     <li class="profile">

         <div class="profile-details">
           <div class="name_job">

             <span class="job">Logout</span>

             <div class="job">Hello User !!</div>

           </div>
         </div>
         <a href="/logout">
         <i class='bx bx-log-out' id="log_out" ></i>
         </a>
     </li>
    </ul>
  </div>

<!-- Working Area -->
<section class="home-section">

    <div class="text">Privacy Policy</div>
    <section class="home-section2">
    <p>Our website is committed to protecting the privacy of our users and ensuring the confidentiality of their documents.
        We take measures to ensure that our website is secure and that user data is protected.</p>

    <h5>Confidentiality of Documents</h5>
    <p>We understand the importance of maintaining the confidentiality of your documents.
        We do not share, distribute or disclose any information contained in your documents to any third parties,
        except as required by law or in the course of providing our services to you.
        We will use your documents only for the purpose of providing the services you have requested from us.</p>

    <h5>User Conduct</h5>
    <p>Our website is committed to providing a safe and secure environment for our users.
        You agree to use our website only for lawful purposes and in accordance with our terms and conditions.
        You agree not to engage in any illegal activities or criminal behavior while using our website.</p>

    <h5>Website Security</h5>
    <p>We take the security of our website very seriously.
        We use industry-standard encryption technology to protect the confidentiality of your documents and personal information.
        We also use secure servers and firewalls to protect against unauthorized access, disclosure, or alteration of your information.</p>

    <h5>Other Necessary Changes</h5>
    <p>We reserve the right to update this privacy policy from time to time, and any changes will be posted on our website.
        We encourage you to review this policy periodically to stay informed of our privacy practices.</p>

    <p>If you have any questions about our privacy policy or our website's security,
    please contact us using the information provided on our website.</p>

    <p>By using our website, you agree to the terms of this privacy policy and consent to the collection,
        use, and disclosure of your information in accordance with this policy.</p>
    </section>
  </section>
</form>


<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
